doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Forgot Password
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container(style='margin-top: 50px;')
      h2 Recover your password
      hr
      form(action='http://localhost:3000/users/forgotpassword',method='post')
        .form-group(style='width: 30%;')
          label(for='inputPassword2') Enter email
          input.form-control(type='email', name='email', placeholder='email')
        button.btn.btn-default(type='submit') Submit
      if initialview
        form(action='http://localhost:3000/users/securitycheck',method='post')
          .form-group(style='width: 30%;')
            label(for='inputPassword2') #{securityQuestion}
            input.form-control(type='text', name='checkanswer',placeholder='Security Answer')
          button.btn.btn-default(type='submit') Get Password
      if securityCheck
        h3 
          | Your Password: 
          b #{password}