doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Ecommerce
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container
      .page-header
        h1
          strong(style='color: #337ab7;') Mr
          | EcommerceCart.com
      .jumbotron
        .container
          h1.text-center Welcome!
          p.text-center
            i "The way to wellness"
          p.text-center
            a.btn.btn-primary.btn-lg(href='http://localhost:3000/users/login_page', role='button') Login
          p.text-center
            a.btn.btn-success.btn-lg(href='http://localhost:3000/users/signup_page', role='button') SignUp